.Footer {
    text-align: center;
    min-height: 20vh;
}
  
.Footer-header {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    color: #596e79;
}
  
.Icon {
    width: 2em;
    height: 2em;
    color: #dfd3c3;
}