.Buttons {
    text-align: center;
    min-height: 20vh;
    max-width: 80vw;
}
  
.Buttons-header {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    color: #596e79;
    margin: 25px;
}

.Buttons-ripple {
    color: #596e79;
    border-radius: 25px;
}